html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'blackletter';
  src: url('./fonts/blackletter.ttf');
  font-weight: normal;
  font-style: normal; 
}

body {
  max-width: 100vw;
  margin: 5%;
  overflow-x: hidden;
}

h1 {
  font-family: 'blackletter';
  src: url('./fonts/blackletter.ttf');
  font-weight: normal;
  font-style: normal; 
  font-size: 64px;
  padding-bottom: 0%;
}

h2 {
  font-family: 'blackletter';
  src: url('./fonts/blackletter.ttf');
  font-weight: normal;
  font-style: normal; 
  font-size: 40px;
  /* padding-top: 0%; */
}

.image_container {
  display: grid;
  max-width: 100vw;
  height: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  padding-bottom: 3%;
}

.image_container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.svg_container {
  display: grid;
  max-width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 10px;
  padding-bottom: 10%;
}

.svg_container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}